# IDEs
.idea/
.vscode/
*.iml
*.eclipse

# Maven
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Variables de entorno y secretos (MUY IMPORTANTE)
.env
.env.*
!.env.example
application-secret.properties

# Mac
.DS_Store